[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-restful = "*"
flask-sqlalchemy = "==2.5.1"
gunicorn = "*"
honcho = "*"
importlib-metadata = "*"
psycopg2-binary = "*"
python-dotenv = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8.13"